<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
    <title></title>
</head>
<body>

<input type="text" placeholder="请输入用户名">
<input type="button" value="连接" onclick="connect()">
<input type="button" value="断开" onclick="disconnect()" disabled="disabled">

<hr>
<input type="text" id="msg"><input type="button" value="发送" onclick="send()" disabled="disabled">
<input type="button" value="清屏" onclick="document.getElementById('showArea').innerHTML=''">
<h3>公屏区域</h3>

<hr>
<div id="showArea">
</div>

<!--
 高级api  不兼容  但是有一个socket.io这个库，是兼容的(一般用这个)
 -->

<script type="text/javascript">

    let isConnect=false;
    let socket;
    let inputDom=document.getElementsByTagName('input');
    function connect(){

        let connectBtn = inputDom[1];
        let disConnectBtn = inputDom[2];
        let sendBtn = inputDom[4];
         if(isConnect){

             return;
         }

         let userFlag=inputDom[0].value
        if(userFlag==''){
            alert("请输入用户名")
            return;
        }
         const url="ws://"+window.location.host+"/websocket/"+userFlag;
         socket = new WebSocket(url);//ws协议是webSocket自己创造的
         socket.onopen=function(e){
             isConnect=true;
             connectBtn.disabled=isConnect;
             sendBtn.disabled=!isConnect;
             disConnectBtn.disabled=!isConnect;
             console.info("connect success")
         }
        socket.onmessage = function(e){
            let showAreaDom=document.getElementById('showArea');
            showAreaDom.innerHTML+='<h1>'+e.data+'</h1>'
        }
    }
    function disconnect(){
        let connectBtn = document.getElementsByTagName('input')[1];
        let disConnectBtn = document.getElementsByTagName('input')[2];
        isConnect=false;
        connectBtn.disabled=isConnect;
        disConnectBtn.disabled=!isConnect;
        socket.close()
    }
    function send(){
        console.info("send")
        let text=inputDom[3].value;
        if(text!='' && text != undefined){
            inputDom[3].value='';
            socket.send(text);
        }
    }

</script>
</body>
</html>